@model App_horarios_BackEnd.Models.Escola

@{
ViewData["Title"] = "Editar Escola";
}

<h1>Editar Escola</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="alert alert-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LocalizacaoId" class="form-label"></label>
                <select asp-for="LocalizacaoId" class="form-select" asp-items="ViewBag.LocalizacaoId">
                    <option value="">-- Seleciona a Localização --</option>
                </select>
                <span asp-validation-for="LocalizacaoId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Voltar à Lista</a>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
